//Font
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=UnifrakturCook:wght@700&display=swap');

$defaultFont : 'Oxygen', sans-serif;

//Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
  }


//Colors
$grey : rgb(179, 179, 179);
$white : rgb(255, 255, 255);
$black: rgb(0, 0, 0);

//Spaces
$defaultPadding : 15px;

//FontSize
$defaultSize : 15px;
$XSSize : 10px;

//Media Query - Responsive
@media only screen and (max-width: 600px){
    .newsDetails{
        margin: 0;
    }
    #newsList h2{
        text-align: center;
    }
}

body{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}

main{
    width: 80%;
    margin: auto;
}


//Header title
.dailyTitle{
    font-family: 'UnifrakturCook', cursive;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
}


#account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

//Header date bar
.rectangle{
   background: $grey; 
   max-width: 100vw;
   height: 40px;
   padding-left: $defaultPadding;
   padding-right: $defaultPadding;

   display: flex;
   justify-content: space-between;
   align-items: center;

   span{
       color: $white;
   }
}

.container{
    max-width: 300px;
    p:not(.publishDate){
       font-size: $defaultSize; 
       text-align: justify;
    }
}

.publishDate{
    font-size: $XSSize;
    text-align: right;
    color: $grey;
}

.listView{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
}

.error{
    text-align: center;
    h1{
        font-size: 150px;
    }
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.newsDetails{
    margin: 10%;
}

input[type = text], input[type = password], textarea{
    border: 1px solid #999;
    border-radius: 5px;
    height: 25px;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form div{
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
}

form input, form textarea{
    flex: auto;
}

form label{
    flex: 1;
    padding-right: 10px;
}

form button {
    padding: 10px;
    border-radius: 20px;
    background-color: $grey;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

//Dashboard
.headerDashboard{
    background-color: $black;
    height: 100px;
    h1, h2{
        color : $white;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    h2 {
        float: inline-start;
    }
    margin-bottom: 30px;
}

.editIcon{
    display: flex;
    justify-content: end;
}

.addButton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    span{
        font-size: 70px;
        color: $grey;
        &:hover{
            color: $black;
        }
    }
} 

/**{
    border: red 1px solid;
}*/

